.about{
 /* background-color: #86a3f1; */
    /* background-image: linear-gradient(to bottom, #1d4094, #86a3f1); */
    text-align: center;
    padding-top: 50px;
}
.about h1{
   color: white;
    font-size:60px;
    font-weight: 900;
}
.info{
width: 50vw;
text-align: center;
margin: auto;
color: whitesmoke;
margin-top: 10px;
margin-bottom: 10px;
}
.about_part{
    width: 90%;
    margin:20px auto;


}
.about_part h3{
    color: whitesmoke;
text-align: center;
margin-top: 40px;
font-size: 30px;
}
.ab_txt h3{
color: whitesmoke;
text-align: center;

font-size: 18px;
margin-bottom: 20px;
margin-top: 10px;

}
.ab_part{
    display: flex;
padding: 20px;

}
.ab_txt{
padding: 20px;
width: 50%;
text-align: left;
padding-top: 120px;
}
.ab_img{
padding: 20px;
width: 50%;
height: 400px;
border-radius: 10px;

}
.ab_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}