 .landing{
    /* height:100vh; */
    background-color: #86a3f1;
    background-image: linear-gradient(45deg, #1d4094, #86a3f1);
}
/* .landing__landing{} */
.landing__navbar{
    padding: 1.5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    top: 0;
    width: 100%; */
}
.landing__logo span{
    font-size: 26px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.landing__menus{
    /* width: 25%; */
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content:space-between; 
}
.landing__menus a{
    text-decoration: none;
    color: inherit;
}
.landing__menus p{
padding: 0.4rem 1rem;
}

.landing__menus p:hover{
    background-color: #86a3f1;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
}
.landing__container{
    /* background-color:red; */
    padding: 1rem 6rem;
    display: flex;
    align-items:center;
    height: 90vh;
    justify-content: space-between;
}
.landing__left h1{
    color: white;
    font-size:80px;
    font-weight: 900;
}
.landing__right{
    /* background-color:#1d4094; */
}
.landing__right img{
    display: flex;
    align-items: flex-end;
    height:630px;
    background-size: cover;
}

.landing__slogan{
    color: white;
    padding:  1rem 0;
}
.landing__getStarted{
    display: inline-block;
    color: #071561;
    padding:  0.8rem 1.5rem;
    background-color: white;
    border-radius:2rem;
    font-weight:600;
    transition: ease-in 0.1s;
    margin: 1rem 0;
}
.landing__getStarted:hover{
    background-color: #86a3f1;
    color: white;
    cursor: pointer;

}